# Install yfinance

In [1]:
%pip install yfinance

Requirement already satisfied: yfinance in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (0.2.32)
Requirement already satisfied: pandas>=1.3.0 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (2.1.0)
Requirement already satisfied: numpy>=1.16.5 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (1.25.2)
Requirement already satisfied: requests>=2.31 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: peewee>=3.16.2 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in e:\github weekday 6_8 pm\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Restart and run all cells

In [2]:
import yfinance as yf
ticker = 'SBIN.NS'
share_df = yf.download(tickers=ticker, period='3y', interval='1mo')
share_df.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,245.000000,279.899994,244.100006,274.950012,263.135040,985080328
2021-01-01,274.899994,310.899994,269.500000,282.100006,269.977783,777947672
2021-02-01,285.100006,427.700012,282.750000,390.149994,373.384735,1532347646
2021-03-01,395.100006,408.899994,345.200012,364.299988,348.645538,849338663
2021-04-01,367.700012,371.899994,321.299988,353.500000,338.309631,929066645

In [3]:
share_df.index

DatetimeIndex(['2020-12-01', '2021-01-01', '2021-02-01', '2021-03-01',
               '2021-04-01', '2021-05-01', '2021-06-01', '2021-07-01',
               '2021-08-01', '2021-09-01', '2021-10-01', '2021-11-01',
               '2021-12-01', '2022-01-01', '2022-02-01', '2022-03-01',
               '2022-04-01', '2022-05-01', '2022-06-01', '2022-07-01',
               '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01',
               '2022-12-01', '2023-01-01', '2023-02-01', '2023-03-01',
               '2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01',
               '2023-08-01', '2023-09-01', '2023-10-01', '2023-11-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [4]:
type(share_df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [5]:
df_close = share_df[['Close']]

In [6]:
df_close

                 Close
Date
2020-12-01  274.950012
2021-01-01  282.100006
2021-02-01  390.149994
2021-03-01  364.299988
2021-04-01  353.500000
2021-05-01  424.350006
2021-06-01  419.200012
2021-07-01  431.799988
2021-08-01  426.049988
2021-09-01  453.000000
2021-10-01  502.149994
2021-11-01  460.549988
2021-12-01  460.450012
2022-01-01  538.299988
2022-02-01  483.200012
2022-03-01  493.549988
2022-04-01  496.299988
2022-05-01  468.100006
2022-06-01  465.899994
2022-07-01  528.349976
2022-08-01  531.250000
2022-09-01  530.599976
2022-10-01  573.799988
2022-11-01  602.450012
2022-12-01  613.700012
2023-01-01  553.500000
2023-02-01  522.799988
2023-03-01  523.750000
2023-04-01  578.299988
2023-05-01  579.849976
2023-06-01  572.849976
2023-07-01  620.200012
2023-08-01  561.349976
2023-09-01  598.549988
2023-10-01  565.549988
2023-11-01  558.950012